.restaurant {
  width: 400px;
  height: 100%;
  display: flex;
  align-items: center;
  border: 0.5px solid lightgray;
  box-shadow: 3px 3px 5px 0px rgba(191, 191, 191, 0.53);
  cursor: pointer;
  transition: transform 250ms ease-in;
  margin: 0.8em;
  padding: 0.3em;
}

.restaurant:hover {
  transform: scale(1.02);
}

.thumbnail {
  width: 180px;
  height: 180px;
}

.metadata {

  margin: 1em;
}

.name {
  margin: 0.3em;
  font-size: 1rem;
}

.cuisine,
.dietary,
.rating {
  margin: 0.3em;
  font-size: 0.8rem;
}

.channel {
  font-size: 0.6rem;
}